:root {
  --yellow: #f5c32c;
  --orange: #fca61f;
  --black: #242d49;
  --gray: #788097;
  --blueCard: #ddf8fe;
  --boxShadow: 0px 19px 60px rgb(0 0 0 / 8%);
  --purple: rgb(238 210 255);
  --orangeCard: rgba(252, 166, 31, 0.45);
  --smboxShadow: -79px 51px 50px rgba(0, 0, 0, 0.08);
}
.app {
  font-family: sans-serif;
  text-align: center;
  padding: 0.5rem 3.5rem;
  overflow-x: hidden;
  color: var(--black);
}
.button {
  border-radius: 34px;
  border: none;
  color: while;
  font-size: 16px;
  padding: 11px 26px;
  background: linear-gradient(180deg, #fdc50f 26.71%, #fb982f 99.36%);
  box-shadow: 0px 2px 24px 3px rgba(252, 161, 40, 0.42);
}
